@model List<Roles>
@{
    ViewData["Title"] = "Roles";
}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span> Roles
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="@Url.Action("Create","Roles",null)">
                    <i class="mdi mdi-plus-circle-outline icon-sm text-primary align-middle"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                @*  <h4 class="card-title">Roles</h4> *@
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Id </th>
                                <th> Name </th>
                                <th> Code </th>
                                <th> Status </th>
                                <th> Option </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td> @item.Name </td>
                                    <td>
                                        @item.Code
                                    </td>
                                    <td> @item.IsActive </td>
                                    <td>
                                        <a href="@Url.Action("Edit","Roles",new {id=item.Id },null)"> <i class="mdi mdi-open-in-new icon-sm text-primary align-middle"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
