<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2" id="userAccessFullName"></span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Employee",null)">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Master libraries</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Roles",null)">Roles</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Departments",null)">Departments</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Designation",null)">Designation</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Countries",null)">Countries</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","States",null)">States</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Cities",null)">Cities</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Status",null)">Status</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","DocumentTypes",null)">Document Types</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","ActivityTypes",null)">Activity Types</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","HolidayCallender",null)">HolyDays</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","MessageType",null)">Message Types</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","MailBox",null)">MailBox</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-user">
                <span class="menu-title">User Management</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account-multiple-plus menu-icon"></i>
            </a>
            <div class="collapse" id="ui-user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Employee",null)">Employee</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Employee",null)">User Access</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","ReportingManager",null)">Reporting Manager</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","EmployeeDocument",null)">Document Manager</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" id="ChangePassword">Change Password</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-salary" aria-expanded="false" aria-controls="ui-salary">
                <span class="menu-title">Salary Management</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account-multiple-plus menu-icon"></i>
            </a>
            <div class="collapse" id="ui-salary">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","MonthlySalary",null)">Monthly Salary</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Employee",null)">Salary Structure</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","EmployeeSalary",null)">Payslips</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-notification" aria-expanded="false" aria-controls="ui-notification">
                <span class="menu-title">Notification Management</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-bell-plus menu-icon"></i>
            </a>
            <div class="collapse" id="ui-notification">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Roles</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Departments</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Designation</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Countries</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">States</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Cities</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Status</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Document Types</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Activity Types</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-timesheet" aria-expanded="false" aria-controls="ui-timesheet">
                <span class="menu-title">Time Sheet Management</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-timesheet">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","TaskItem",null)">Task Item</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","TaskCode",null)">Task Code</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Timesheet",null)">Timesheet Manager</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-employeePayment" aria-expanded="false" aria-controls="ui-employeePayment">
                <span class="menu-title">Employee Payments</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-currency-usd menu-icon"></i>
            </a>
            <div class="collapse" id="ui-employeePayment">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","EmployeePayment",null)">Payment Method</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","TutionFee",null)">Tuition Fee</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
<partial name="_ChangePasswordPartial.cshtml" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/UserLeftMenuController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new UserLeftMenuController();
        ctrl.init();
    });
</script>