@model Clarity.Web.UI.Models.PayslipVM

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Model.employeeSalary.Title</title>
    <meta name="author" content="bhaga" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 13.5pt;
        }

        .s2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .s3 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .s4 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
            vertical-align: 1pt;
        }

        .s5 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11.5pt;
            vertical-align: 1pt;
        }

        p {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 9.5pt;
            margin: 0pt;
        }

        .a, a {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 9.5pt;
        }

        table, tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>
<body>
    <table style="border-collapse:collapse;margin-left:6.21pt" cellspacing="0">
        <tr style="height:61pt">
            <td style="width:555pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <img width="215" height="68" src="https://clarity.betalen.in/img/logo.png" /></td>
            <td style="width:555pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080" colspan="6">
                <p class="s1" style="padding-top: 7pt;padding-left: 246pt;text-indent: 0pt;text-align: left;">Betalen Technology India Private Limited</p>
                <p class="s2" style="padding-top: 7pt;padding-left: 258pt;text-indent: 0pt;text-align: left;">@Model.employeeSalary.Title</p>
            </td>
        </tr>
        <tr style="height:27pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s3" style="padding-top: 7pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">EMPCODE</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080" rowspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:139pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080" colspan="2">
                <p class="s2" style="padding-top: 7pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">: @Model.employee.EmployeeCode</p>
            </td>
            <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080">
                <p class="s3" style="padding-top: 7pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">LOCATION</p>
            </td>
            <td style="width:152pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 7pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">: @Model.employeeSalary.LOCATION</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s3" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">EMPNAME</p>
            </td>
            <td style="width:139pt" colspan="2">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: @Model.employee.FirstName @Model.employee.LastName</p>
            </td>
            <td style="width:136pt">
                <p class="s3" style="padding-top: 2pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">STDDAYS</p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: @Model.employeeSalary.STDDAYS</p>
            </td>
        </tr>
        <tr style="height:21pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s3" style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">DESIGNATION</p>
            </td>
            <td style="width:139pt" colspan="2">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">:  @Model.designation.Name</p>
            </td>
            <td style="width:136pt">
                <p class="s3" style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">WRKDAYS</p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: @Model.employeeSalary.WRKDAYS</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">DOJ</p>
            </td>
            <td style="width:139pt" colspan="2">
                <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: @Model.employee.StartedOn</p>
            </td>
            <td style="width:136pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">LOP DAYS</p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: @Model.employeeSalary.LOPDAYS</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s3" style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">DEPARTMENT</p>
            </td>
            <td style="width:139pt" colspan="2">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: @Model.department.Name</p>
            </td>
            <td style="width:136pt">
                <p class="s3" style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">BANK NAME</p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">: State Bank of India</p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">PAN</p>
            </td>
            <td style="width:139pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080" colspan="2">
                <p class="s2" style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">: AWGPJ4884R</p>
            </td>
            <td style="width:136pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">ACCOUNT NO</p>
            </td>
            <td style="width:152pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">: 62253861685</p>
            </td>
        </tr>
        <tr style="height:31pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">EARNINGS</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 5pt;padding-left: 16pt;text-indent: 0pt;text-align: left;">AMOUNT</p>
            </td>
            <td style="width:64pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s3" style="padding-top: 6pt;padding-left: 35pt;text-indent: 0pt;text-align: left;">YTD</p>
            </td>
            <td style="width:122pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 6pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">DEDUCTIONS</p>
            </td>
            <td style="width:152pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s3" style="padding-top: 5pt;padding-left: 16pt;text-indent: 0pt;text-align: left;">AMOUNT       <span class="s4">YTD</span></p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">BASIC</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080">
                <p class="s2" style="padding-top: 5pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">17,500.00</p>
            </td>
            <td style="width:64pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">1,41,500.00</p>
            </td>
            <td style="width:122pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">PROFESSIONAL TAX</p>
            </td>
            <td style="width:152pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 5pt;padding-right: 4pt;text-indent: 0pt;text-align: right;">200.00   <span class="s5">1,800.00</span></p>
            </td>
        </tr>
        <tr style="height:25pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">HRA</p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt">
                <p class="s2" style="padding-top: 6pt;padding-left: 32pt;text-indent: 0pt;text-align: left;">7,000.00</p>
            </td>
            <td style="width:64pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 5pt;padding-left: 12pt;text-indent: 0pt;text-align: left;">56,500.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Group Health Insurance</p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-right: 4pt;text-indent: 0pt;text-align: right;">1000.00  <span class="s5">9,000.00</span></p>
            </td>
        </tr>
        <tr style="height:24pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">CONVEYANCE</p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt">
                <p class="s2" style="padding-top: 2pt;padding-left: 53pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:64pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 40pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">OTHERS</p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-right: 2pt;text-indent: 0pt;text-align: right;">0.00     0.00</p>
            </td>
        </tr>
        <tr style="height:25pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">MEDICAL ALLOWANCE</p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt">
                <p class="s2" style="padding-top: 5pt;padding-left: 53pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:64pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-left: 40pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">SPECIAL ALLOWANCE</p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt">
                <p class="s2" style="padding-top: 5pt;padding-left: 34pt;text-indent: 0pt;text-align: left;">5,000.00</p>
            </td>
            <td style="width:64pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-left: 15pt;text-indent: 0pt;text-align: left;">37,000.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">SPECIAL BONUS</p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt">
                <p class="s2" style="padding-top: 6pt;padding-left: 55pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:64pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 5pt;padding-left: 41pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:24pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">STATUTORY BONUS</p>
            </td>
            <td style="width:12pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt">
                <p class="s2" style="padding-top: 5pt;padding-left: 53pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:64pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-left: 41pt;text-indent: 0pt;text-align: left;">0.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:24pt">
            <td style="width:116pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s2" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">OTHERS</p>
            </td>
            <td style="width:12pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s2" style="padding-top: 4pt;padding-left: 33pt;text-indent: 0pt;text-align: left;">5,500.00</p>
            </td>
            <td style="width:64pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s2" style="padding-top: 3pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">47,900.00</p>
            </td>
            <td style="width:122pt;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:28pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">GROSS EARNINGS</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 28pt;text-indent: 0pt;text-align: left;">35,000.00</p>
            </td>
            <td style="width:64pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">2,83,000.00</p>
            </td>
            <td style="width:122pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">GROSS DEDUCTIONS</p>
            </td>
            <td style="width:152pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s3" style="padding-top: 2pt;padding-right: 2pt;text-indent: 0pt;text-align: right;">1,200.00 10,800.00</p>
            </td>
        </tr>
        <tr style="height:32pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">NET PAY</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 6pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">:</p>
            </td>
            <td style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 6pt;padding-right: 4pt;text-indent: 0pt;text-align: right;">33,800/-</p>
            </td>
            <td style="width:64pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:122pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:30pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">NET TRANSFER</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">:</p>
            </td>
            <td style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">33,800/-</p>
            </td>
            <td style="width:64pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:122pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:152pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:32pt">
            <td style="width:116pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">IN Words</p>
            </td>
            <td style="width:12pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080">
                <p class="s3" style="padding-top: 4pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">:</p>
            </td>
            <td style="width:427pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080" colspan="4">
                <p class="s2" style="padding-top: 4pt;padding-left: 42pt;text-indent: 0pt;text-align: left;">Rupees Thirty three thousand eight hundred only</p>
            </td>
        </tr>
        <tr style="height:160pt">
            <td style="width:555pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080" colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
    </table>
   
    <p style="padding-top: 6pt;padding-left: 59pt;text-indent: 0pt;text-align: left;"><a href="mailto:hr@betalen.in" class="a" target="_blank">*** this is system generated document ,hence singature not requires ,any queries please contact </a><a href="mailto:hr@betalen.in" target="_blank">hr@betalen.in</a></p>
</body>
</html>